* {
  padding: 0;
  margin: 0;
  box-sizing: border-boxx;
}
body {
  background-color: #f1f1f1;
  font-family: sans-serif;
}
li {
  list-style: none;
  text-align: center;
}
a {
  text-decoration: none;
}
.header {
  height: 100%;
  max-height: 100dvh;
  position: relative;
}
.nav {
  background-color: #670480;
  width: 100%;
  max-width: 100%;
  position: fixed;
  height: 80px;
  z-index: 1000000;
  padding: 0px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid #b15;
}
.logoContainer {
  height: 100px;
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  margin: 0;
}
.logoContainer img {
  height: 80px;
  width: 150px;
  object-fit: cover;
}
.headerNavList {
  display: flex;
  align-items: center;
  width: 80%;
  justify-content: center;
}
.headerNavList li {
  width: 180px;
  padding: 10px;
}
.headerNavList li a {
  font-weight: 500;
  color: #f1f1f1;
  font-size: clamp(1rem, 0.3043rem + 3.4783vw, 1rem);
  font-weight: 600;
}
.lastlist {
  background-color: #b15;

  border-radius: 5px;
}
.lastlist .lasttext {
  border-bottom: none;
  color: #f1f1f1;
  text-align: center;
}
.lastlist a {
  text-align: center;
}
.headerNavMenu {
  margin-left: -20px;
  height: 50px;
  width: 50px;
  margin-left: 0px;
  display: none;
  user-select: none;
  transform: translateX(-10px);
  border-radius: 5px;
  flex-direction: column;
}
.headerNavMenu div {
  height: 2px;
  text-align: center;
  transition: all 0.3s ease-in-out;
  width: 35px;
  background-color: #f1f1f1;
  margin: 7px;
  padding-left: 5px;
  color: #bb3b04;
}
.headerNavMenu .headerNavMenuText {
  font-weight: 700;
  color: #f1f1f1;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.headerProfile{
    margin-top: 80px;
    min-height: 500px;
    width: 100dvw;
    position: absolute;
    background: linear-gradient(to bottom, transparent 10%, #000 100%), url(/ndtlogo.jpg)no-repeat;
    background-position: 100%;
    background-size: cover;
}
.headerProfileContentContainer{
    width: 100%;
    height: 500px;
   
    display: flex;
    align-items: center;
    justify-content: center;
}
.headerProfileContent{
    display: flex;
    width: 100%;
    height: 500px;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}
.headerProfileHeaderText{
    padding: 10px 20px;
    background: linear-gradient(to top, transparent 10%, #000 100%)
}
.headerProfileHeaderText h1{
    color: #b13;
    font-family: serif;
    font-style: italic;
    font-size: 50px;
    border-bottom: 2px solid #fff;
}
.headerProfileParagraphText{
    width: 90%;
    margin-top: -20px;
}
.headerProfileParagraphText p{
    color: #f1f1f1;
    text-align: left;
    line-height: 25px;
    white-space: wrap;
    font-size: 17px;
}
.headerProfileButtons{
    padding: 20px 30px;
}
.headerProfileButtons button{
    padding: 15px 20px;
    background: transparent;
    border: none;
    border-radius: 10px;
    box-shadow: 0px 0px 2px #333;
    outline: none;
    transition: 0.2s;
}
.headerProfileButtons button:hover{
    background: linear-gradient(#670480, #b15);
}
.headerProfileButtons button a{
    color: #f1f1f1;
    letter-spacing: 1px;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 14px;
}
#mainSection{
  height: 100dvh;
  width: 96dvw;
  border: 2px solid red;
  margin-top: 600px;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
}
.mainSectionContainer{
  height: 100dvh;
  width: 90%;
}
.mainSectionContent{
  height: 100dvh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.firstSectionContent{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding:10px 30px;
  flex-wrap: wrap;
}
.firstSectionContentHeaderText{
  background-color: #670480;
  width: 47%;
  height: 150px;
  margin-top: 10px;
}
.mainSectionIconsContainer{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80px;
  width: 100%;
}
.mainSectionIconsContainer i{
  color: #b13;
  text-align: center;
  font-size: 50px;
}
.mainSectionText{
  width: 100%;
  margin-top: 10px;
}
.mainSectionText h2{
  text-align: center;
  color: #f1f1f1;
  font-size: 30px;
}
.mainSectionText P{
  text-align: center;
  color: #f1f1f1;
}
.secondSectionHeaderText{
  margin-top: 20px;
}
.secondSectionHeaderTextContent{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.secondSectionHeaderTextheader{
  width: 100%;
  background-color: red;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 10px;
}
.secondSectionHeaderTextheader h3{
  text-align: center;
  font-size: clamp(1rem, 0.3043rem + 3.4783vw, 3rem);
  text-transform: capitalize;
  font-family: serif;
  border-bottom: 2px solid #f1f1f1;
  font-style: oblique;
  
}
.secondSectionHeaderTextparagraph{
  margin-top: 30px;
  padding-bottom: 10px;
}
.secondSectionHeaderTextparagraph p{
  text-align: left;
 padding-left: 10px;
}
@media only screen and (max-width: 768px) {
  .nav {
    justify-content: space-between;
    width: 100%;
  }
  .headerNavList {
    width: 100dvw;
    background: linear-gradient(to bottom, transparent 10%, #000 100%), url(/ndtlogo.jpg)no-repeat;
    background-position: center;
    background-size: cover;
    z-index: 10;
    position: absolute;
    top: 13vh;
    height: 85dvh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transform: translateX(100%);
    transition: all 0.5s ease-in;
    padding-bottom: 20px;
  }
  .headerNavList-active {
    transform: translateX(0);
  }
  @keyframes navLink {
    from {
      opacity: 0;
      transform: translateX(-50px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  .headerNavList li a {
    border-bottom: 2px solid #b13;
    width: 90px;
    margin: 0px;
    text-align: center;
  }
  .lastlist {
    background-color: #b15;
    border-radius: 5px;
  }
  .lastlist .lasttext {
    border-bottom: none;
    color: #f1f1f1;

    text-align: center;
  }
  .headerNavMenu {
    padding-left: -50px;
    margin-left: -20px;
    height: 50px;
    width: 50px;
    display: block;
    user-select: none;
    border-radius: 5px;
    flex-direction: column;
  }
  .toggle .headerNavMenu1 {
    transform: rotate(45deg) translate(5px, 12px);
  }
  .toggle .headerNavMenu2 {
    opacity: 0;
  }
  .toggle .headerNavMenu3 {
    transform: rotate(-45deg) translate(5px, -12px);
  }
}
